In [ ]:
# Install a pip comtradeapicall package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install comtradeapicall

In [ ]:
# Install a pip pandas package in the current Jupyter kernel
import sys
!{sys.executable} -m pip install pandas

In [3]:
import pandas
import requests
import comtradeapicall

In [4]:
subscription_key = '<YOUR KEY>' # comtrade api subscription key (from comtradedeveloper.un.org)
directory = '<OUTPUT DIR>'  # output directory for downloaded files

In [6]:
# Call preview final data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code 91 in classic mode in May 2022

In [7]:
mydf = comtradeapicall.previewFinalData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                        reporterCode='36', cmdCode='91', flowCode='M', partnerCode=None,
                                        partner2Code=None,
                                        customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                        aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [8]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,6.735023e+07,6.642208e+07,6.735023e+07,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,8.208810e+02,7.800080e+02,8.208810e+02,0,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,2.605931e+05,2.599554e+05,2.605931e+05,0,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.668635e+04,2.544649e+04,2.668635e+04,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,7.410397e+03,7.027445e+03,7.410397e+03,0,False,True

In [9]:
# Call preview tariffline data API to a data frame, max to 500 records, no subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [10]:
mydf = comtradeapicall.previewTarifflineData(typeCode='C', freqCode='M', clCode='HS', period='202205',
                                             reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                             partner2Code=None,
                                             customsCode=None, motCode=None, maxRecords=500, format_output='JSON',
                                             countOnly=None, includeDesc=True)

In [11]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,24.0,2643.138964,2452.269532,2643.138964
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,0.0,1378.122996,1345.429924,1378.122996
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,7.7,7291.986612,6990.838004,7291.986612
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.8,3318.812240,3151.313136,3318.812240
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,128.8,7020.139064,4936.400000,7020.139064

In [12]:
# Call get final data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity codes 90 and 91 from all partners in classic mode in May 2022

In [13]:
mydf = comtradeapicall.getFinalData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                    reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=None,
                                    partner2Code=None,
                                    customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                    aggregateBy=None, breakdownMode='classic', countOnly=None, includeDesc=True)

In [14]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,refYear,refMonth,period,reporterCode,reporterISO,reporterDesc,flowCode,...,netWgt,isNetWgtEstimated,grossWgt,isGrossWgtEstimated,cifvalue,fobvalue,primaryValue,legacyEstimationFlag,isReported,isAggregate
0,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,False,0.0,False,3.024066e+05,2.547313e+05,3.024066e+05,0,False,True
1,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,8.900632e+03,8.692718e+03,8.900632e+03,4,False,True
2,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,2.913730e+07,2.712739e+07,2.913730e+07,4,False,True
3,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.091258e+07,1.015719e+07,1.091258e+07,4,False,True
4,C,M,20220501,2022,5,202205,36,AUS,Australia,M,...,0.0,True,0.0,False,1.601507e+04,1.571131e+04,1.601507e+04,4,False,True

In [15]:
# Call get tariffline data API to a data frame, max to 250K records, subscription key required
# This example: Australia imports of commodity code started with 90 and 91 from Indonesia in May 2022

In [16]:
mydf = comtradeapicall.getTarifflineData(subscription_key, typeCode='C', freqCode='M', clCode='HS', period='202205',
                                         reporterCode='36', cmdCode='91,90', flowCode='M', partnerCode=36,
                                         partner2Code=None,
                                         customsCode=None, motCode=None, maxRecords=2500, format_output='JSON',
                                         countOnly=None, includeDesc=True)

In [17]:
mydf.head(5)

,typeCode,freqCode,refPeriodId,period,reporterCode,reporterDesc,reporterISO,flowCode,flowDesc,partnerCode,...,qtyUnitAbbr,qty,altQtyUnitCode,altQtyUnitAbbr,altQty,netWgt,grossWgt,cifvalue,fobvalue,primaryValue
0,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,24.0,2643.138964,2452.269532,2643.138964
1,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,0.0,1378.122996,1345.429924,1378.122996
2,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,7.7,7291.986612,6990.838004,7291.986612
3,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,3.8,3318.812240,3151.313136,3318.812240
4,C,M,20220501,202205,36,Australia,AUS,M,Import,36,...,N/A,0.0,-1,N/A,0.0,0.0,128.8,7020.139064,4936.400000,7020.139064

In [18]:
# Call bulk download final file(s) API to output dir, (premium) subscription key required
# This example: Download monthly France final data of Jan-2000

In [19]:
comtradeapicall.bulkDownloadFinalFile(subscription_key, directory, typeCode='C', freqCode='M', clCode='HS',
                                      period='200001', reporterCode=251, decompress=True)

COMTRADE-FINAL-CM251200001H1[2022-09-04] downloaded
Total of 1 file(s) downloaded

In [20]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download monthly France tariffline data of Jan-2000

In [21]:
comtradeapicall.bulkDownloadTarifflineFile(subscription_key, directory, typeCode='C', freqCode='M', clCode='HS',
                                           period='200001,200002,200003', reporterCode=504, decompress=True)

COMTRADE-TARIFFLINE-CM504200003H1[2023-01-03] downloaded
COMTRADE-TARIFFLINE-CM504200001H1[2022-12-09] downloaded
COMTRADE-TARIFFLINE-CM504200002H1[2023-01-03] downloaded
Total of 3 file(s) downloaded

In [22]:
# Call bulk download tariff data file(s) to output dir, (premium) subscription key required
# This example: Download annual Morocco  data of 2010

In [23]:
comtradeapicall.bulkDownloadTarifflineFile(subscription_key, directory, typeCode='C', freqCode='A', clCode='HS',
                                           period='2010', reporterCode=504, decompress=True)

COMTRADE-TARIFFLINE-CA5042010H2[2021-12-09] downloaded
Total of 1 file(s) downloaded